[submodule "bundle/trailing-whitespace"]
	path = bundle/trailing-whitespace
	url = http://github.com/bronson/vim-trailing-whitespace.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/jslint"]
	path = bundle/jslint
	url = https://github.com/hallettj/jslint.vim.git
[submodule "bundle/extradite"]
	path = bundle/extradite
	url = https://github.com/int3/vim-extradite.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/judev/syntastic.git
