[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
	ignore = untracked
[submodule "bundle/extradite"]
	path = bundle/extradite
	url = https://github.com/int3/vim-extradite.git
	ignore = untracked
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
	ignore = untracked
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
	ignore = untracked
[submodule "bundle/NrrwRgn"]
	path = bundle/NrrwRgn
	url = https://github.com/chrisbra/NrrwRgn.git
	ignore = untracked
[submodule "bundle/trailing-whitespace"]
	path = bundle/trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
	ignore = untracked
[submodule "src/vimwiki"]
	path = src/vimwiki
	url = https://github.com/kstep/vimwiki-vim-plugin.git
	ignore = untracked
[submodule "bundle/vim-visual-star-search"]
	path = bundle/vim-visual-star-search
	url = https://github.com/nelstrom/vim-visual-star-search.git
